.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px; 
  
    @media (max-width: 768px) {
      padding-left: 20px; 
      flex-direction: row; 
      align-items: center; 
  
      .logo-container {
        margin-right: 7px; 
        transition: margin-right 0.5s; 
      }
    }
  
    .logo-container {
      display: flex; 
      align-items: center;
    }
  
    .logo {
      max-width: 100%; 
      height: 68px;
      @media (max-width: 768px){
        max-width: 100%;
        height: 35px;
      }
    }
  
    .nav-links {
      list-style-type: none;
      display: flex;
      align-items: center; 
      padding-right: 100px; 
  
      @media (max-width: 768px) {
        padding-right: 20px; 
      }
  
      .link {
        text-decoration: none;
        color: #FF6060;
        margin-left: 50px;
        font-size: 1.6em;
        font-weight: 400 !important; 
        @media (max-width: 768px){
            font-size: 0.8rem;
            margin-left: 7px;
        }
      }
    }
  }
  